h1{
    padding: 20px;
    background-color:beige;
    centered text;
    font-family: Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
}
H3{
    DISPLAY: HORIZONTAL;
    padding: 15px;
    margin: 10px;
}
